
html {
    background: #402840 !important;
    color: #d2cac6 !important;
    font-family: monospace;
    font-size: 1.1em;
}

body {
    padding: 1em 5em;
}

hr {
    /*display: none;*/
    border-color: #a89890;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    left: 5.5em;
    width: 39em;
}

.verse-block {
    display: inline-block;
    max-width: 40em;
}

.begin-title {
    margin-bottom: 0;
}

.page-block {
    margin-top: 3em;
}

ol, ul {
    color: #a084b8;
}

span.line {
    display: block;
}

.line {
    padding-left: 2em;
    text-indent: -2em;
    margin: 0;
}

a {
    text-decoration: none;
    color: #a89890;
    border-color: #a89890;
    border-width: 0;
}

a:hover {
    border-bottom-width: 1px;
    border-style: solid;
}

/* colors: 402840 a89890 d2cac6 484060 a084b8 */
/* 87bc0603-e20c-4d1d-a80d-f6d959731266 */
/* 6723ba50-05fe-4fb4-8178-a6eeaa559af9 */
