
html {
    background: #402840;
    color: #d2cac6;
    font-family: monospace;
    font-size: 1.1em;
}

hr {
    border-color: #a89890;
    border-width: 2px;
    border-style: solid;
}

ol, ul {
    color: #a084b8;
}

p {
    padding-left: 2em;
    text-indent: -2em;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #a89890;
}

/* colors: 402840 a89890 d2cac6 484060 a084b8 */
